<h1 id="page-title">Portfolio</h1>
<div id="post-wrapper" class="skinny-wrapper">
    <div class="post">
        <h2><a href="#">Post title</a></h2>
        <p class="date">content here</p>
        <hr>
    </div>
    <div class="post">
        <h2><a href="#">Post title</a></h2>
        <p class="date">content here</p>
        <hr>
    </div>
    <div class="post">
        <h2><a href="#">Post title</a></h2>
        <p class="date">content here</p>
        <hr>
    </div>
    
</div>

<div class="pagination">
    <span class="previous_page disabled">Previous</span>
    <em class="current">1</em>
    <a rel="next" href="#">2</a>
    <a class="next_page" href="#">Next</a>
</div>