@import 'application';

#page-title {
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid $border;
    padding: 2em 0;
    font-size: 1rem;
    text-transform: uppercase;
}

#post-wrapper {
    padding: 3em 0;
    .post {
        text-align: center;
        
        .date {
            font-size: .9em;
            margin: 0;
        }
        
        h2 {
            margin: 0;
            font-size: 1.5em;
            text-transform: uppercase;
            a {
                text-decoration: none;
                color: $dark;
                &:hover {
                    color: $highlight;
                }
            }
        }
        
        hr {
            margin: 2.5em auto;
        }
    }
}

.skinny-wrapper {
    width: 80%;
    max-width: 760px;
    margin: 0 auto;
}

.pagination:before,
.pagination:after {
    content: " ";
    display: table;
}

.pagination:after {
    clear:box;
}

.pagination {
    text-align: center;
    margin: 0 0 3em 0;
    a, .previous_page, .current, .next_page {
        padding: .75em .5em;
        margin: 0 .5em;
        border-radius: .15em;
        line-height: 20px;
        text-decoration: none;
        background: #FFFFFF;
        font-weight: 700;
        font-size: .9em;
        font-style: normal;
        color: $dark;
        &:hover {
            color: #ffffff;
            background: $highlight;
        }
    }
    
    .current {
        background: $highlight;
        color: #FFFFFF;
    }
    
    .disabled {
        color: #c0c0c0;
        &:hover {
            color: #c0c0c0;
            background: #FFFFFF;
        }
    }
}